<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<!--header-->
<head th:replace="main/header :: head"></head>


<body>
<!--top bar-->
<div th:replace="main/topbar.html :: div.top-bar"></div>

<!--content-->
    <section layout:fragment="content">
        <p>This is filled by the content template.</p>
    </section>

<!--footer-->
<div th:replace="main/footer.html :: div.footer"></div>

<!--scripts-->
<!--<script src="../js/jquery.js" type="text/javascript"></script>-->


<script type="text/javascript" src="webjars/jquery/3.5.1/jquery.min.js"></script>
<!--My scripts-->
<script  type="text/javascript" src="../js/locales-all.min.js"></script>
<script type="text/javascript" src="../js/main.min.js"></script>

<!--My scripts-->
<script type="text/javascript" src="../js/customscripts.js"></script>
<script type="text/javascript" src="../js/fullcalendarscript.js"></script>

</body>
</html>