<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">

<head th:replace="header :: head"></head>
<body>

<!--top bar-->
<div th:replace="bar_footer/top_bar.html :: div.top-bar"></div>


<!--content-->

<div class="container">
    <h1>List of all employees</h1>
    <!--    <div class="row w-100">-->
    <div class="col-sm-12" th:replace="table :: table"></div>

    <!--    </div>-->
    <a class="btn btn-light" th:href="@{/add}" role="button">Add a new Employee</a>
</div>

<!--footer-->

<div th:replace="bar_footer/footer.html :: div.footer"></div>

</body>
</html>