<div xmlns:th="http://www.thymeleaf.org" xmlns:http="http://www.w3.org/1999/xhtml" th:fragment="table">
    <table>
        <thead>
        <tr>
            <!-- <th>id</th>-->
            <th>name</th>
            <th>distance</th>
            <th>description</th>

        </tr>
        </thead>

        <tbody>
        <tr th:each="e: ${employees}">
            <td th:text="${e.getFirstName()}"></td>
            <td th:text="${e.getLastName()}"></td>
            <td th:text="${e.getEmail()}"></td>
        </tr>
        </tbody>

    </table>

</div>
