<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{main/layout}">
<head>

</head>
<body>

<div layout:fragment="content">
    <div class="container">
        <h1>List of all employees</h1>

    <table class="table">
        <thead>
        <tr>
            <th>id</th>
            <th scope="col">name</th>
            <th scope="col">surname</th>
            <th scope="col">email</th>
            <th scope="col">role</th>
            <th scope="col">operations</th>

        </tr>
        </thead>

        <tbody>
        <tr th:each="e: ${employees}">
            <td th:text="${e.getId()}"></td>
            <td th:text="${e.getFirstName()}"></td>
            <td th:text="${e.getLastName()}"></td>
            <td th:text="${e.getEmail()}"></td>
            <td th:text="${e.getRole()}"></td>
            <td>
                <form method="post" class="padding5px" action="#" th:action="@{/employees/edit}">
                    <input type="hidden" th:name="emp_id" th:value="${e.getId()}">
                    <input type="submit" class="btn btn-warning edit-button" value="Edit">
                </form>

                <form method="post" class="padding5px" action="#" th:action="@{/employees/delete}">
                    <input type="hidden" th:name="emp_id" th:value="${e.getId()}">
                    <input type="submit" class="btn btn-danger delete-button" value="Delete">
                </form>
            </td>
        </tr>
        </tbody>
    </table>
        <a id="new-emp-button" class="btn btn-light" th:href="@{/employees/add}" role="button">Add a new Employee</a>
<!--    <div id='calendar'></div>-->
</div>
</div>

<!--<th:block th:fragment="optional">-->
<!--    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>-->
<!--</th:block>-->

</body>
</html>