<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{main/layout}">
<head>
    <title>Contact Us</title>
</head>

<body>


<div layout:fragment="content">


    <div id='wrap'>

        <div id='external-events'>
            <h4>Avaible workers</h4>

            <div id='external-events-list'>

<!--                <tr th:each="e: ${employees}">-->
<!--                    <td th:text="${e.getId()}"></td>-->
<!--                    <td th:text="${e.getFirstName()}"></td>-->
<!--                    <td th:text="${e.getLastName()}"></td>-->
<!--                    <td th:text="${e.getEmail()}"></td>-->
<!--                    <td th:text="${e.getRole()}"></td>-->
<!--                    <td>-->
                <div class='fc-event fc-h-event fc-daygrid-event fc-daygrid-block-event' th:each="e: ${employees}">
                    <div class='fc-event-main' th:text="${e.getFirstName()+' '+e.getLastNameFirstChar()+' '+e.getCurrentMonthWorkingHours()}"></div>
                </div>
<!--                        <div class='fc-event fc-h-event fc-daygrid-event fc-daygrid-block-event'>-->
<!--                    <div class='fc-event-main'>My Event 2</div>-->
<!--                </div>-->
<!--                <div class='fc-event fc-h-event fc-daygrid-event fc-daygrid-block-event'>-->
<!--                    <div class='fc-event-main'>My Event 3</div>-->
<!--                </div>-->
<!--                <div class='fc-event fc-h-event fc-daygrid-event fc-daygrid-block-event'>-->
<!--                    <div class='fc-event-main'>My Event 4</div>-->
<!--                </div>-->
<!--                <div class='fc-event fc-h-event fc-daygrid-event fc-daygrid-block-event'>-->
<!--                    <div class='fc-event-main'>My Event 5</div>-->
<!--                </div>-->


            </div>

            <p>
                <input type='checkbox' id='drop-remove' />
                <label for='drop-remove'>remove after drop</label>
            </p>
        </div>

        <div id='calendar-wrap'>
            <div id='calendar'></div>
        </div>

    </div>


</div>

<!--<th:block th:fragment="optional">-->
<!--    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>-->
<!--</th:block>-->

</body>
</html>